*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/LeetCode/Java/build
/LeetCode/Java/dist/
/LeetCode/Java/nbproject/private/
/LintCode/Java/build
/LintCode/Java/dist/
/LintCode/Java/nbproject/private/
/CC150/nbproject/private/
/CC150/build/
/CC150/dist/
/HackerRank/nbproject/private/
/HackerRank/Java/HackerRank/nbproject/private/
/HackerRank/Java/build/
/HackerRank/Java/nbproject/private/
/Advanced/Java/Advanced/nbproject/private/
/Advanced/Java/Advanced/build/
/Advanced/Java/Advanced/dist/
/HackerRank/Java/dist/